body {
  display: flex;
}

.navigationMain {
	font-family: Arial, Helvetica, sans-serif;
	padding-left:20px;
	width:200px;
	display: inline-table;
}

.navigationHeader {
	position:relative;
}

.extName {
	display: inline-table;
	font-size: 20px;
}

.extVer {
	display:inline-table;
	position:absolute;
	bottom:0;
	right:0;
	font-size: 13px;
	color: 878787;
}

#navigation {
	list-style-type: none;
	padding-left: 0px;
}

cba-tabs
{
  color: #878787;
  width: 200px;
  padding: 0 15px;
}

cba-tab
{
  display: block;
  cursor: pointer;
  padding: 3px 5px;
}

cba-tab[aria-selected]
{
  color: #000000;
  background-color: #E6E6E6;
}

main
{
  padding: 0 15px;
  display: block;
  width: 100%;
}

main h2
{
  margin: 0px;
}

main h2::after
{
  content: "";
  display: block;
  border-bottom: 1px solid #a8a8a8;
  margin-top: 10px;
}

cba-list {
  width: 200px;
  height: 300px;
  display: inline-block;
}

#popup {
  width: 750px;
  height: 100vh;
}
