body
{
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  font-size: 0.8rem;
  margin: 0px;
  padding: 15px;
}

#sidebar
{
  padding-left: 20px;
  width: 200px;
  display: inline-table;
}

header
{
  display: flex;
  justify-content: space-between;
}

header h1
{
  display: inline-table;
  font-size: 20px;
  font-weight: 400;
  margin: 0;
}

#version
{
  display: inline-table;
  font-size: 13px;
  color: 878787;
  align-self: center;
}

main
{
  padding: 0 15px;
  display: block;
  width: 100%;
}

cba-tabs
{
  color: #878787;
  width: 200px;
  padding: 0 15px;
}

cba-tab
{
  display: block;
  cursor: pointer;
  padding: 3px 5px;
}

cba-tab[aria-selected]
{
  color: #000000;
  background-color: #E6E6E6;
}

cba-panel h2
{
  margin: 0px 0px 8px 0px;
}

main .flexContainer
{
  display: flex;
}

cba-panel h2::after
{
  content: "";
  display: block;
  border-bottom: 1px solid #a8a8a8;
  margin-top: 10px;
}

#panel-import cba-list
{
  width: 150px;
  height: 200px;
}

#panel-import #import,
#panel-import #export
{
  display: flex;
}

#panel-import #importProjects
{
  display: block;
  margin: 5px;
}

#panel-cba #popup
{
  width: 100%;
  height: 100vh;
}

#panel-functions #functions-input
{
  max-width: 400px;
}

#panel-functions #funcData,
#panel-functions #funcName,
#panel-functions #funcNewValue
{
  width: 100%;
}

cba-list
{
  width: 200px;
  height: 300px;
  display: inline-block;
}
