body {
  width: 550px;
  background-color: #f0f0f0;
}

#projectsManagement {
  display: flex;
  height: 200px;
}

#projectsManagement > *:not(:first-child) {
  margin-left: 2px;
}

#projects {
  display: flex;
  flex-direction: column;
  width: 140px;
}

#projects cba-list {
  flex: 1;
}

#projects .controls {
  margin-top: 5px;
  display: flex;
}

#projects.rename #renameBtn {
  display: none;
}

#projects:not(.rename) #saveBtn {
  display: none;
}

#actions {
  width: 300px
}

#functions {
  --tooltip-icon: url("/css/images/info.svg#default");
  flex: 1;
}

#actionInput {
  margin-top: 5px;
  display: flex;
}

#actionInput div {
  margin-left: 5px;
}

#actionInput input {
  margin-top: 3px;
}

#actionNewValue {
  width: 200px;
}

#logo {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

#logo a {
  color: #444;
  text-decoration: none;
}

#actionInfo
{
  vertical-align: middle;
}

#actionInfo img
{
  width: 14px;
  height: 14px;
}

cba-button
{
  display: inline;
}

#actionsControl cba-button,
#playbackControl cba-button
{
  width: 50px;
}

#playButtonTooltip img
{
  width: 12px;
  height: 12px;
  vertical-align: middle;
}

/* CBA tab in options */

.options {
  width: 720px;
}

.options #projectsManagement {
  height: 290px;
}

.options #actions {
  width: 400px
}

.options #playbackControl {
  display: none;
}

.options #actionInput {
  display: block;
}

.options #actionData {
  width: 100%;
  min-height: 100px;
}

.options #logo {
  display: none;
}

.options #actionInput div {
  margin: 0;
  vertical-align: top;
  display: flex;
}

.options #actionInfo {
  display: none;
}

.options #actionEvType, .options #actionNewValue {
  margin: 0;
  vertical-align: top;
}

.options #actionNewValue {
  flex-grow: 2;
}
