body {
  max-width: 600px;
  background-color: #f0f0f0;
}

#projectsManagement {
  display: flex;
  height: 200px;
}

#projectsManagement > *:not(:first-child) {
  margin-left: 2px;
}

#projects {
  display: flex;
  flex-direction: column;
  flex: 1;
}

#projects cba-list {
  flex: 1;
}

#projects .controls {
  margin-top: 5px;
  display: block;
}

#projects.rename #renameBtn {
  display: none;
}

#projects:not(.rename) #saveBtn {
  display: none;
}

#actions {
  flex: 3;
}

#functions {
  flex: 1;
}

#actionInput {
  margin-top: 5px;
  display: flex;
}

#actionInput div {
  margin-left: 5px;
}

#actionInput input {
  margin-top: 3px;
}

#actionNewValue {
  width: 200px;
}

#logo {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

#logo a {
  color: #444;
  text-decoration: none;
}

/* CBA tab in options */

.options {
  max-width: 720px;
}

.options #projectsManagement {
  height: 290px;
}

.options #playbackControl {
  display: none;
}

.options #actionInput {
  display: block;
}

.options #actionData {
  width: 100%;
  min-height: 100px;
}

.options #logo {
  display: none;
}

.options #actionInput div {
  margin: 0;
  vertical-align: top;
  display: flex;
}

.options #actionEvType, .options #actionNewValue {
  margin: 0;
  vertical-align: top;
}

.options #actionNewValue {
  flex-grow: 2;
}
